@page "/About"

<PageTitle>About</PageTitle>
<title> About </title>
<h1>Exercise 3 - May 2024</h1>

<h2> Author: Toshio Trenchard</h2>
<h2> Section: E01</h2>
<h2> Instructor: Tina Caron</h2>
<h2> Known Bugs: </h2>
<ul>
	<li> review collection: the add review and clear buttons don't work at all. the functions that they're supposed to activate should theoretically work but they aren't actually being called as far as i'm concerned. i have genuinely no idea why</li>
	<li> review report: stops at first error</li>
</ul>
