@page "/About"

<PageTitle>About</PageTitle>
<title> About </title>
<h1>Exercise 3 - May 2024</h1>

<h2> Author: Toshio Trenchard</h2>
<h2> Section: E01</h2>
<h2> Instructor: Tina Caron</h2>
<h2> Known Bugs: </h2>
<ul>
	<li> review collection: the add review and clear buttons don't work at all. the functions that they're supposed to activate should theoretically work but they aren't actually being called as far as i'm concerned. i have genuinely no idea why</li>
	<li> the dropdown button for the review collection page ALSO doesn't work even though it KNOWS things are being added to it but the button itself doesn't do anything. i did identical thing as the workbook and multiple examples online, none of them worked. am i supposed to edit the framework?? i also got brain cancer trying to make the 'immediate' business work in normal blazor so whaddya do? i'd use javascript and just normal html but i'd assume we're being marked on using blazor. </li>
	<li> following instructions ont he website how to install on the website "{MudThemeProvider}" (replace those brackets with the proper one) don't actually work in the mainlayout.razor??? and yes i DID delete the content in app.css and it STILL didn't work. It's not being detected. I genuinely don't know what to do </li>
	<li> review report: stops at first error</li>
</ul>
