@page "/About"

<PageTitle>About</PageTitle>
<title> About </title>
<h1>Exercise 3 - May 2024</h1>

<h2> Author: Toshio Trenchard</h2>
<h2> Section: E01</h2>
<h2> Instructor: Tina Caron</h2>
<h2> Known Bugs: </h2>
<ul>
	<li> none lol</li>
</ul>
