@page "/"

<PageTitle>Home</PageTitle>
<title> Book Reviews </title>
<h1>Book Reviews</h1>

<img src="https://imgur.com/ZqQ3jBG.png" />
<p> Welcome to this page! This is a website that has information on book reviews and other things! It's very useful and super up to date with the latest technology. It even has a counter! You can tap a button and it counts! It's really incredible how far technology has come. Really remarkable. Isn't it kinda incredible how nearly everything we use is made by other people? This website is similarly incredble. Thousands of years of science and progress have lead to you reading this text. Skibidi toilet
</p>