@page "/ReviewCollection"

<PageTitle>Review Collection</PageTitle>
<title>Review Collection</title>
<h1>Review Collection</h1>


<EditForm EditContext="editContext" OnValidSubmit="Submit" FormName="ISBN"/>

